{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Chart Js CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    <nav class="shadow-lg p-4">
        <div class="container flex flex-wrap justify-between item-center mx-auto">
            <a href="#" class="flex">
                <img class="h-10 mr-3" src="{% static 'myapp/images/logo.png' %}" alt="">
                <span class="self-center text-xl font-bold">Expense Tracker</span>
            </a>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}

</body>

</html>