{% extends 'myapp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="m-7 font-bold"> Add Expenses ➕</div>
<form class="shadow-lg m-5 rounded-lg" method="POST">
    {% csrf_token %}
    <div class="form-container font-semibold px-10 py-10 flex">
        <div class="mx-10">
            <div class="mb-5">
                <label>Expense Name</label>
            </div>
            <div class="border">{{expense_form.name}}</div>
        </div>
        <div class="mx-10">
            <div class="mb-5">
                <label>Amount</label>
            </div>
            <div class="border">{{expense_form.amount}}</div>
        </div>
        <div class="mx-10">
            <div class="mb-5">
                <label>Category</label>
            </div>
            <div class="border">{{expense_form.category}}</div>
        </div>
        <div class="mx-10 m-8">
            <button type="submit" class="bg-green-500 px-5 py-2 rounded text-white font-bold">Add</button>
        </div>
    </div>
</form>
<div class="m-7 font-bold">Expenses 💲</div>
<div class="shadow-lg font-bold m-3 rounded-lg">
    <div class="expense-header flex flex-wrap space-x-40 px-20">
        <span>Name</span>
        <span>Amount</span>
        <span>Category</span>
        <span>Date</span>
        <span class="pl-4">Edit</span>
        <span>Delete</span>
    </div>
    <hr class="m-2">
    {% for expense in expenses %}
    <div class="expense-row flex-wrap px-20 py-5">
        <span class="font-semibold">{{expense.name}}</span>
        <span class="font-semibold">$ {{expense.amount|intcomma}}</span>
        <span class="font-semibold">{{expense.category}}</span>
        <span class="font-semibold">{{expense.date}}</span>
        <span class="pl-24"><a href="{% url 'edit' expense.id %}">
                <img class="h-5" src="{% static 'myapp/images/edit.png' %}" alt="">
            </a></span>
        <span class="pl-22">
            <form method="POST" action="{% url 'delete' expense.id %}">
                {% csrf_token %}
                <button type="submit" name="delete">
                    <img src="{% static 'myapp/images/delete.png' %}" alt="" class="h-5">
                </button>
            </form>
        </span>
    </div>
    {% endfor %}
    <hr>
    <!-- Displaying total  -->
    <div class="px-72 py-5">
        <span class="font-bold pl-3 text-green-500">Total : $ {{total_expenses.amount__sum|intcomma}}</span>
    </div>
    <!-- Displaying total  -->
</div>
<div class="flex">
    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">LAST 365 DAYS</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">
            $ {{yearly_sum.amount__sum|intcomma}}
        </h1>
    </div>
    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">LAST 30 DAYS</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">
            $ {{monthly_sum.amount__sum|intcomma}}
        </h1>
    </div>
    <div class="w-1/3 shadow-lg ml-10 rounded-lg">
        <h1 class="ml-10 font-bold text-gray-500">LAST 7 DAYS</h1>
        <h1 class="ml-10 my-5 text-2xl text-green-500 font-bold">
            $ {{weekly_sum.amount__sum|intcomma}}
        </h1>
    </div>
</div>
<div class="flex">
    <div class="w-1/3 shadow-lg m-10">
        <div class="flex flex-wrap space-x-40 font-bold px-20 py-5">
            <span>Past 30 days sum expenses</span>
        </div>
        <hr>
        <div id="30-day-table">
            {% for daily_sum in daily_sums %}
            <div class="flex font-semibold flex-wrap px-20 py-2">
                <span>
                    {{daily_sum.date}}
                </span>
            </div>
            <div class="flex flex-wrap px-20 py-2">
                <span class="text-green-500">
                    $ {{daily_sum.sum|intcomma}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w-1/3 shadow-lg m-10">
        <div class="flex flex-wrap space-x-40 font-bold px-20 py-5">
            <span>Categorical expenses</span>
        </div>
        <hr>
        <div id="cat-sum-table">
            {% for categorical_sum in categorical_sums %}
            <div class="flex font-semibold flex-wrap px-20 py-2">
                <span>
                    {{categorical_sum.category}}
                </span>
            </div>
            <div class="flex flex-wrap px-20 py-2">
                <span class="text-green-500">
                    $ {{categorical_sum.sum|intcomma}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="flex">
    <div class="w-1/2 shadow-lg ml-10">
        <h1 class="m-10">Expense spread across categories</h1>
        <canvas id="myChart" class="m-10"></canvas>
    </div>
    <div class="w-1/2 shadow-lg ml-10">

    </div>
</div>

<script>
    const cats = []
    const catSumDiv = document.getElementById('cat-sum-table').getElementsByTagName('div')
    for(i=0; i<catSumDiv.length; i++){
        if(i%2 == 1){

        }else{
            cats.push(catSumDiv[i].innerText)
        }
    }
    console.log(cats)

    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: cats,
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
    });
</script>

{% endblock content %}